# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Oleksii Sanin
	email = letsgetlift@gmail.com
[core]
	ignorecase = false
	excludesfile = /Users/sas/.gitignore
# define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
  cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
# set "nvim" as tool for merging
[merge]
  tool = nvim
# automatically launch merge tool without displaying a prompt
[mergetool]
  prompt = false
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
    wtaddcopy = "!f() { git worktree add \"$1\" && cp \"$2\" \"$1\"; }; f"
